*, *:before, *:after { 
    margin:50 0 0 0;
    padding:0;
    font-family: Arial,sans-serif;
  }
  
  body{
    margin:0%;
    background-color: black;
  }
  
  a{
    text-decoration: none;
  }
  
  
  a.links{
    display: none;
  }
  
  .flex-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
  
 
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px); /* Altura da página menos a altura do header */
    background-color: #f4f4f4;
}

.footer {
	font-family:"DM Sans", sans-serif;
	font-size: 17px;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	text-align: center;
	padding: 30px 0;
}
.footer2 {
	font-family:"DM Sans", sans-serif;
	font-size: 15px;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	text-align: center;
	padding: 10px 0;
}

  .content{
    width: 500px;
    margin: 0px auto;
    position: relative;	
  }
  
  /* formatando o cabeçalho dos formulários */
  h1{
    font-size: 48px;
    color: #066a75;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }
  
  p{
    margin-bottom:15px;
  }
  p:first-child{
    margin: 0px;
  }
  label{
    color: #ffffff;
    position: relative;
  }
  .btn-cadastro {
    font-weight: bold;
    background-color: #ff004e;
    color: #fff;
    margin: 3% 0% 0% 75%;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .btn-cadastro:hover {
    color: #000000a4;
    background: #f7f7f7;
    border: 1px solid #ffffff;
}
  
  /**** advanced input styling ****/
  /* placeholder */
  ::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  } 
  input {
    outline: none;
  }
  
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;	
    border: 1px solid #ff004e;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -2px 15px rgba(223, 140, 140, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
  }
  
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;	
    background: #3d9db3;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;	
    border: 1px solid #fff;	
    margin-bottom: 10px;	
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }
  input[type="submit"]:hover{
    background: #4ab3c6;
  }
  
  /*marcando os links para mudar de um formulário para outro */
  .link{
    position: absolute;

    color: #ffffff;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 0px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #ff004e;
    
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
  .link a {
    font-weight: bold;
    background: #ff004e;
    padding: 6px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    border: 1px solid #000000;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
  .link a:hover {
    color: #000000a4;
    background: #f7f7f7;
    border: 1px solid #ffffff;
  }
  
  /* estilos para para ambos os formulários */
  #cadastro, 
  #login{
    position: absolute;
    top: 0px;
    width: 88%;	
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(0, 0, 0);
    color: white;
    
    
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  
  #paracadastro:target ~ .content #cadastro,
  #paralogin:target ~ .content #login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
  #registro:target ~ .content #login,
  #paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }

  .brand {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    
    }
    .brand:before {
    font-family: "Bebas Neue", sans-serif;
    background-size: 100% 100%;
    content: "InfoFLIX";
    line-height: 205px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    z-index: 99999 !important;
    }
    
    .logo{
    animation: 5s linear infinite;
    animation-name: rotate-0;
    animation-delay: 0s;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    
    }
    
    svg path{
    position:absolute;
    fill:none;
    stroke-width:2;
    top:0;
    left:0;
    /*mix-blend-mode: multiply;*/
    transform-origin: 50% 50%;
    transform: rotate(0deg) ;
    animation: 4s linear infinite;
    }
    
    .logo svg path:nth-child(1) {
    opacity: 1;
    animation-name: rotate-1;
    animation-delay: .5s;
    }
    .logo svg path:nth-child(2) {
    opacity: .5;
    animation-name: rotate-2;
    animation-delay: .6s;
    }
    .logo svg path:nth-child(3) {
    opacity: .8;
    animation-name: rotate-3;
    animation-delay: .7s;
    }

    @keyframes scale-1 {
      0%{
        transform: scale(1);
      }50% {
        transform: scale(.9);
      }100% {
        transform: scale(1);
      } 
      }
      
      @keyframes rotate-0 {
      from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      } 
      
      @keyframes rotate-1 {
      from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
      
      @keyframes rotate-2 {
      from { transform: rotate(0deg); }
        to { transform: rotate(-360deg); }
      }
      
      @keyframes rotate-3 {
      from { transform: rotate(0deg); }
        to { transform: rotate(0deg); }
      }
  
  /*fadeInLeft*/
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
  
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }